@{
    ViewBag.Title = "About CTBooker Pro";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        Designed for both patients and medical professionals, this applicationoffers an array of features. Patients can access vital CT scan knowledge, searchfor hospital
        and doctor profiles, schedule appointments, and consult real-time with medical staff. Ontheother hand, hospital employees can manage appointments seamlessly, interact withpatients online, and view patient history for improved care continuity. With addedcapabilities like video consultations, an automated FAQ section, and online payments, our
        platform ensures a holistic and efficient CT scan experience.
    </p>
</main>